@import "global.less";
@import "toolbar.less";
@import "body.less";

.cb-container {
    background: #fff;
    font-family: "Segoe UI","Lucida Grande",Helvetica,Arial,"Microsoft YaHei",FreeSans,Arimo,"Droid Sans","wenquanyi micro hei","Hiragino Sans GB","Hiragino Sans GB W3",FontAwesome,sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: #333;
    .gborder(1px);
    overflow: auto;
    border-radius: 3px;
    .propertiesWindow{
        background:#ecfaff;
        border:1px solid #d8d8d8;
        height:300px;
        width:300px;
        top:0px;
        right:0px;
        position:absolute;
    }
    .cropwrap a:hover {
        cursor: default;
    }
}
 