.cb-container {
  background: #fff;
  font-family: "Segoe UI","Lucida Grande",Helvetica,Arial,"Microsoft YaHei",FreeSans,Arimo,"Droid Sans","wenquanyi micro hei","Hiragino Sans GB","Hiragino Sans GB W3",FontAwesome,sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #333;
  border: 1px solid #aaa;
  overflow: auto;
  border-radius: 4px;
}

.cb-body {
    padding: 5px;
}

.cb-wrap  {
    border: 1px solid #2e6da4;
    margin: 20px;
    border-radius: 4px;
}

.cb-toolbar {
    border-bottom: 1px solid #aaa;
}

.cb-button-wrap{
    display:inline-block;
    margin: 5px;
}
.cb-btn{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}


.cb-tools {
    border: medium none;
    padding: 10px 15px;
    font-size: 12px;
    line-height: 20px;
    height: 20px;
}

.cb-tools a:link,a:visited,a:hover,a:active {
    color: #666;
    text-decoration: none;
}

.cb-tools .btn-wrap{
    float: right;
    color: #ffffff;
}

.cb-tools .btn {
    font-weight: 300;
    margin-left: 15px;
}

.btn.btn-delete {
    
}
.cb-content {
    width: 100%;
}

.cb-content .cb-textarea {
    width: 98%;
    height: 200px;
}
.cb-content .cb-anchor {
    background-image: url('../images/anchor.gif');
    width: 20px;
    height: 20px;
    display: inline-block;
}