.cb-container {
  background: #fff;
  font-family: "Segoe UI","Lucida Grande",Helvetica,Arial,"Microsoft YaHei",FreeSans,Arimo,"Droid Sans","wenquanyi micro hei","Hiragino Sans GB","Hiragino Sans GB W3",FontAwesome,sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #333;
  border: 3px solid gray;
}

.cb-body {
    border: 3px solid #8b0000;
    height: 300px;
}

.cb-toolbar {
    border: 3px solid #f0e68c;
}

.cb-button-wrap{
    border: 2px solid red;
    display:inline-block;
    margin: 5px;
}
.cb-button{
    color: #c71585;
}



